    
      #map { height: 750px; }

      #map3 { height: 500px; }

      #map2 { height: 500px; }

      body { font-family: 'Inter', sans-serif; }

      h1 {
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
      }

      li {
        padding-top: 8px;
      }
      .small-header {
        font-weight: 600;
        text-transform: uppercase;
      }

      .nav-link, .navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #414042 !important;
        font-size: 18px !important;
      }

      .btn {
        text-transform: uppercase;
        border-radius: 0;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
      }

      .btn-primary {
        background-color: #f15d22 !important;
        border-color: #f15d22 !important;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
      }

      @media (max-width: 575.98px) {
        .nav-cta {
          margin-left: 0px;
        }
        .logo-icon {
          height: 24px;
          width: 24px;
        }
        .navbar-brand {
          font-size: 14px !important;
        }
        .navbar-toggler {
          background-color: white;
          border: none;
          padding: 0;
          margin: 0;
          color: ##414042;
        }
        
      }
      .navbar {
        border-bottom: 2px solid #e6e7e8;
        padding-bottom: 5px;
      }

      @media (min-width: 575.99px) {
        .nav-cta {
          margin-left: 12px;
        }
        .logo-icon {
          height: 28px;
          width: 36px;
        }
      }

      main a {
        color: #0E9C4B;
        text-decoration-color: #BFE2CD;
        transition: 0.2s;
        text-underline-offset: 3px;
      }

      @media (min-width: 768px) {

        .wide-right {
          margin-top: 30px;
          margin-bottom: 30px;
          padding-left: 25px;
          margin-right: -40%;
          float: right;
          width: 80%;
          text-align: right;
          border-top:  1px solid #C6C8C9;
        }

        .wide-right-text {
          padding-top: 15px;
          padding-bottom: 30px;
          padding-left: 0;
          margin-right: -30%;
          margin-left: 30px;
          float: right;
          width: 50%;
          text-align: left;
        }

        p.wide-right-text {
          margin-bottom: 0;
          margin-top: 0;
        }
      }

      @media (max-width: 767px) {
        .big-image,.wide-right,.wide-left {
              padding-top: 25px;
              padding-bottom: 25px;
            }
            .wide-right-text {
              padding-top: 15px;
              padding-bottom: 30px;
              width: 100%;
              text-align: left;
            }
            .wide-right {
              margin-top: 30px;
              margin-bottom: 30px;
              border-top:  1px solid #C6C8C9;
              border-bottom:  1px solid #C6C8C9;
            }
      }

      footer a {
        color: black;
        text-decoration-color: #606060;
        transition: 0.2s;
        text-underline-offset: 3px;
      }

      .take-action {
        background-color: #f15d22;
        padding: 24px;
        color: white;
      }

       @media (min-width: 650px) { 
  .graphic {
    width: 60%;
  }
   .logoHeader {
     height: 30px;
   }
 }
 @media (max-width: 649px) { 
  .graphic {
    width: 100%;
  }
   .logoHeader {
     height: 24px;
   }
   
   .table td, .table th { padding-left: 0; }